[submodule "googletest"]
	path = googletest
	url = https://github.com/google/googletest.git
[submodule "external/ArduinoCore-esp8266"]
	path = external/ArduinoCore-esp8266
	url = https://github.com/esp8266/Arduino.git
[submodule "external/newlib-xtensa"]
	path = external/newlib-xtensa
	url = https://github.com/jcmvbkbc/newlib-xtensa.git
